.event-display-container {
    flex-grow: 1;
    padding: 0 20px 10px 20px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #e8e8e8;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.event-display-container::-webkit-scrollbar {
    display: none;
}

.event-year-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e8e8e8;
    margin: 0;
    padding: 10px 0 5px 0;
    font-size: 1.1em;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.event-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: black;
}

.event-item:last-of-type {
    margin-bottom: 20px;
}

.event-item::before {
    content: '○';
    margin-right: 8px;
    color: #888;
}